html {
  font-size: 16px;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: column nowrap;
}

#size-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 1.4rem 0;
  cursor: pointer;
  width: 10rem;
  border-radius: 10px;
}

#size-slider:focus {
  outline: none;
}

#size-slider::-webkit-slider-runnable-track {
  background-color: #000;
  height: 0.3rem;
  border-radius: 10px;
}

#size-slider::-moz-range-track {
  background-color: #000;
  height: 0.3rem;
  border-radius: 10px;
}

#size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: calc((0.5rem / 2) - (2rem / 2));
  background-color: #ffffff;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  box-shadow: 2px 3px 5px -4px #cdcccc, -3px 2px 2px -4px #828282;
}

#size-slider::-moz-range-thumb {
  appearance: none;
  background-color: #ffffff;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  box-shadow: 2px 3px 5px -4px #cdcccc, -3px 2px 2px -4px #828282;
}

.main-title {
  padding: 0.4rem;
  margin: 1rem 0 0.8rem;
  line-break: loose;
  font-size: 1.5rem;
  border: 4px solid #121213;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transform: rotate(-2deg) skew(4deg);
}

.screen {
  position: relative;
  height: 500px;
  width: 500px;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #151515cd;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.show {
  display: flex;
}

.overlay .safe-area {
  background-color: #262626;
  color: #172643;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 2rem 1rem;
  box-sizing: border-box;
  color: #f9f07a;
  height: 90%;
  width: 90%;
  box-shadow: 0px 0px 2px 2px #f9f07a;
}

.overlay .button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.button {
  box-sizing: border-box;
  padding: 0.7rem 1rem;
  border-radius: 13px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #b7c9f2;
  color: #fff;
  box-shadow: 1px 3px 10px -4px #b7c9f2, -3px 2px 6px -4px #949fca;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-container .button {
  box-sizing: border-box;
  border: 2px solid #262626;
  background-color: #f9f07a;
  flex: 1 1;
  color: #262626;
  border-radius: 0;
  box-shadow: none;
}

.button-container .button:active {
  box-shadow: none;
  transform: translate(0, 2px) scale(0.9);
}

.button.round {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0.6rem;
  font-size: 1.6rem;
}

.button.active {
  outline: 2px solid #fefeff;
  background-color: #9195f6;
}

.button.reset {
  outline: 2px solid #a72d5c;
  background-color: #fb88b4;
}

.button:active {
  transform: translate(-3px, 3px);
}

.color-wrapper {
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0.4rem;
  position: relative;
}

.color-input {
  height: 100px;
  width: 100px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  border: 0;
}

.color-wrapper:active {
  transform: translate(-3px, 3px);
}

.container {
  box-sizing: border-box;
  display: flex;
  height: 500px;
  width: 500px;
  outline: 2px solid black;
  flex-direction: column;
}

.tools-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #f9f07a;
  align-items: center;
  box-sizing: border-box;
  width: 500px;
  padding: 1.2rem;
  outline: 2px solid black;
  margin: 2rem 0;
  border-radius: 10px;
  box-shadow: 2px 3px 4px -4px #f9f07a, -3px 2px 8px -4px #e6ce63;
}

.tools-container:first-child {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 2px 0 4px -4px #f9f07a, -3px 0 8px -4px #e6ce63;
}

.tools-container:last-child {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tools-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-container {
  transition: background-color 0.2s ease-in;
  box-shadow: 2px 3px 4px -4px #cdcccc, -3px 2px 8px -4px #828282;
}

/* Cells Start */
.cell-row,
.cell-col {
  box-sizing: border-box;
  flex: 1 1;
}

.cell-row {
  display: flex;
  width: 100%;
}

.cell-col {
  border: 1px solid #000000ab;
}
/* Cells End */

@media screen and (max-width: 510px) {
  .main-title {
    font-size: 0.8rem;
    margin-right: 0.7rem;
  }

  .screen,
  .container {
    width: 400px;
    height: 400px;
  }

  .tools-container {
    width: 400px;
  }
}

@media screen and (max-width: 423px) {
  html {
    font-size: 12px;
  }

  .main-title {
    font-size: 0.8rem;
    margin-right: 0.7rem;
  }

  .button {
    font-size: 1rem;
  }

  .button.round {
    width: 40px;
    height: 40px;
    margin: 0.8rem;
  }

  .screen,
  .container {
    width: 350px;
    height: 350px;
  }

  .tools-container {
    width: 350px;
  }
}

@media screen and (max-width: 377px) {
  .main-title {
    font-size: 0.6rem;
    margin-right: 0.7rem;
  }

  .screen,
  .container {
    width: 300px;
    height: 300px;
  }

  .tools-container {
    width: 300px;
  }
}
